.navbar {
    z-index: 1;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-color: #ccc;
  }
  
  .navbar li a {
    border-bottom-width: 4px;
      border-bottom-color: white;
      display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
    background-color: rgba(79, 138, 247, 20%);
    border-bottom-color: rgba(79, 138, 247, 70%);
  }
  .topnav {
    background: white;
    position: relative;
  }
  .topnav #expandProfile {
      z-index: 1;
      display: none;
    position: fixed;
    right: 0;
    background-color: white;
    border-radius: 5px;
  }
  .topnav #expandProfile a:hover {
    left: 0px;
    background-color: rgba(79, 138, 247, 20%);
    border-right-color: rgba(79, 138, 247, 70%);
  }
.topnav #expandProfile a:hover #icon {
    color: blue;
}
.topnav #expandProfile a {
    left: 0px;
    border-right-width: 4px;
    border-right-color: white;
}
.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }