.ProfilePage {
  text-align: center;
}

.ProfilePage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.ProfilePage-text {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  padding: 10px;
}

.ProfilePage-link {
  color: #61dafb;
}

.text-input {
  border-radius: 10px;
  border: 1px solid black;
  font-size: calc(10px + 2vmin);
  padding: 5px 5px 5px 10px;
  margin: 5px;
  width: calc(250px + 15vmin);
  color: black;
}
.text-input input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  text-align: left;
}

.text-input input[type="text"]:focus {
  border: 2px solid blue;
  padding: 12px;
  font-size: 18px;
}


.email-input {
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin: 5px;
  width: calc(250px + 15vmin);
  color: black;
}

.button {
  background-color: #61dafb;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin: 10px;
  color: black;
}
.button:hover {background-color: #50b1cc}

.button:active {
  background-color: #479db5;
  /* box-shadow: 0 5px #666; */
  transform: translateY(2px);
}

.edit-btn {
  background-color: grey;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin: 10px;
  color: black;
}
.save-btn {
  background-color: grey;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin: 10px;
  color: black;
}
