.key {
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  /*width: 42%;*/
  margin: 2px;
  padding: 5px 10px;
  float: left;
}
.grade {
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  /*width: 45%;*/
  margin: 2px;
  padding: 5px 10px;
}
.value {
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  margin: 2px;
  padding: 5px 10px;
}
.delete {
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  width: 24%;
  margin: 2px;
  padding: 5px;
  float: right;
  color: red;
}
.delete:disabled {
  display: none;
  width: 0px;
  top: 0px;
  position: absolute;
}
.duration {
  width: 40%;
}