.filterJobs {
  display: inline-block;
  padding: 2px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}
.filters:disabled{
  border-bottom-color: blue;
  border-bottom-width: 2px;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
.ReactModal__Overlay--after-open{
  opacity: 1;
}
.ReactModal__Overlay--before-close{
  opacity: 0;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20,20,20,0.70);
  z-index: 2;
}