.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-text {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.App-input {
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin: 5px;
}

.button {
  background-color: #61dafb;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin: 5px;
}
.button:hover {background-color: #50b1cc}

.button:active {
  background-color: #479db5;
  /* box-shadow: 0 5px #666; */
  transform: translateY(2px);
}
