.registration{
    text-align: center;
}

.registration-header{
    background-color: #282c34;
    display: flex;
    padding: 10px;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
}

.name-labels{
    color: black;
}

.registrationBody{
    max-width: 400px;
    margin: 10px auto;
    padding: 20px 20px;
    background: #e7ebec;
    border-radius: 8px
}

.text-input{
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: oldlace;
}

.lastName-input{  
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: oldlace;
}

.registrationButton{
    /* padding: 10px;
    margin: 5px;
    color: black;
    background-color: oldlace; */
    padding: 18px 20px 18px 20px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    margin-bottom: 10px;
}

.registrationButton:hover {background-color: #282c34;
}

.loginButton{
    padding: 10px;
    margin: 5px;
    color: black;
    background-color: oldlace;
}

.loginButton:hover {background-color: bisque}


